.global-header .primary-navigation a,
.global-header .primary-navigation a:visited {
  color: #212121;
}

.global-header .primary-navigation a.active {
  color: blue;
}

.global-footer {
  color: black;
}

h1 {
  color: #ffffff;
  background-color: #212121;
}

h2 {
  color: #212121;
}

h3 {
  color: #212121;
}

.team {
  color: black;
}

.studiospan {
  color: #212121;
}
.team p {
  color: #212121;
}
.main-portofolio.namepictureportofolio p {
  color: #757575;
}
