.global-header .primary-navigation a,
.global-header .primary-navigation a:visited {
  color: #212121;
}

.global-header .primary-navigation a.active {
  color: blue;
}

.global-footer {
  color: black;
}
